# we have to embed these sub repos to track the code change :(

# meta
.vscode/

# doc
doc/
docs/

# ouputs & logs
output/
kernel_meta/
performance_serving/testLog/
performance_serving/result_*.json

# data
file_npy_base/*
file_npy/*

# model ckpt
checkpoint_download/
mindformers/checkpoint_download/
llm-serving/checkpoint_download/
